<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <h3>Gestion des Menus</h3>
    </div>

    <!-- Composant des boutons -->
    <div class="col-md-4 d-flex justify-content-end">
      <app-button-action
        (addClicked)="openModal()"
        (exportClicked)="exportToExcel()"
        (importClicked)="exportToPDF()"
      >
      </app-button-action>
    </div>
  </div>

  <!-- Composant de recherche -->
  <app-search
    searchPlaceholder="Menu..."
    [showDateFilters]="true"
    (search)="onSearch($event)"
    (filterByDate)="onDateFilter($event)"
  >
  </app-search>

  <div class="body" *ngIf="listMenus && listMenus.length > 0; else noMenus">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-container">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">IMAGE</th>
                <th scope="col">NOM</th>
                <th scope="col">DESCRIPTION</th>
                <!-- <th scope="col">RESTAURANT</th> -->
                <th scope="col">ACTION</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of displayedMenus; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img
                    [src]="item.image"
                    alt="Image du plat"
                    width="80"
                    height="80"
                    style="object-fit: cover;"
                  />
                </td>
                <td>{{ item.nom }}</td>
                <td>{{ item.description }}</td>
                <!-- <td>{{ item.restaurant?.nom }}</td> -->
                <td>
                  <button
                    class="btn btn-outline-warning me-2"
                    type="button"
                    (click)="onEdite(item)"
                  >
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="onDelete(item.id)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination Component -->
        <app-pagination
          [collectionSize]="totalItems"
          [pageSize]="pageSize"
          [page]="page"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <ng-template #noMenus>
    <p>Aucun menu trouvé.</p>
  </ng-template>
</div>
