/* Ajuster la hauteur et la largeur de la zone de scan */
.border {
  height: 250px;
  width: 100%;
}

/* Centrer le contenu */
.d-flex {
  text-align: center;
}


.table {
  text-align: center;
  font-size: 0.8rem; /* Réduction de la taille de police */
}

