<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">DATE JEU</th>
            <th scope="col">NUMERO</th>
            <th scope="col">PRODUIT</th>
            <th scope="col">MONTANT</th>
            <th scope="col">PAYEMENT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>

        <tbody>
          @for (item of listTickets; track $index) {
            <tr>
              <th scope="row">{{ $index + 1 }}</th>
              <td>{{ item.dateJeu }}</td>
              <td>{{ item.numero }}</td>
              <td>{{ item.produit }}</td>
              <td>{{ item.montant | number }} FCFA</td>
              <td>CHEQUE</td>
              <td>
                <div
                  class="btn btn-outline-warning me-2"
                  type="button"
                  (keydown)="onKeyDown($event)"
                  (keypress)="onKeyPress($event)"
                  (keyup)="onKeyUp($event)"
                >
                  <i class="fa-solid fa-pen"></i>
                </div>
                <div
                  class="btn btn-outline-danger"
                  type="button"
                  (keydown)="onKeyDown($event)"
                  (keypress)="onKeyPress($event)"
                  (keyup)="onKeyUp($event)"
                >
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
