<!-- Navbar start -->
<div class="container-fluid">
  <div class="container topbar d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3"
          ><i class="fas fa-map-marker-alt me-2 text-secondary"></i>
          <a href="#" class="text-white"
            >01 BP 68 Ouaga 01. 436 rue du grand marché</a
          ></small
        >
        <small class="me-3"
          ><i class="fas fa-envelope me-2 text-secondary"></i
          ><a href="#" class="text-white">lonab.mutralo.bf</a></small
        >
      </div>
      <div class="top-link pe-2">
        <a href="#" class="text-white"
          ><small class="text-white mx-2">Privacy Policy</small>/</a
        >
        <a href="#" class="text-white"
          ><small class="text-white mx-2">Terms of Use</small>/</a
        >
        <a href="#" class="text-white"
          ><small class="text-white ms-2">Sales and Refunds</small></a
        >
      </div>
    </div>
  </div>

  <div class="container px-0 menu">
    <div class="nav">
      <div class="logo">
        <h1>Mutralo<b>Resto</b></h1>
      </div>
      <ul>
        <li><a class="active" (click)="onHomeClick()">Home</a></li>
        <li><a (click)="onMenuClick()">Menu</a></li>
        <li><a (click)="onRestoClick()">Service</a></li>
        <li><a (click)="onContactClick()">About us</a></li>
        <li><a href="#">Gallery</a></li>
      </ul>
      <div>
        <input
          class="signIn"
          type="submit"
          value="Sign In"
          name="signIn"
          (click)="openLoginModal()"
        />
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->
