
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <div class="btn-group">
    <div class="btn btn-outline-danger" type="button" *ngIf="isImporterVisible" (click)="onImport()">
      <i class="fa-solid fa-file-pdf"></i>
    </div>
    <div type="button" class="btn btn-outline-success" *ngIf="isExporterVisible" (click)="onExport()">
      <i class="fa-solid fa-file-excel"></i>
    </div>
  </div>

  <div class="btn btn-outline-primary" (click)="onAdd()" *ngIf="isNouveauVisible">
    <i class="fa-solid fa-square-plus"></i>
  </div>

</div>
