

<div class="modal-header">
  <h5 class="modal-title">
    Traitement et détail de la demande {{ demande.reference }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="Close()"
  ></button>
</div>

<div class="modal-body">
  <!-- Informations sur la demande -->
  <div class="container">
    <div class="row mb-3">
      <div class="col-4"><strong>Date d'établissement</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.etablisementDate }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Référence</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.reference }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>N° de pièce</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.refClient }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Client</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.nom }} {{ demande.prenom }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Date de jeu</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.ticketDto.dateJeu }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Produit</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.ticketDto.produit }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Numéro de ticket</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.ticketDto.numero }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><strong>Montant de gain</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ demande.ticketDto.montant }}</div>
    </div>
  </div>

<br>
<br>

  <!-- Workflow avec checkbox aligné sur une ligne -->
  <div class="container">
    <h5 class="text-center">Etat de traitement de la demande</h5>
    <br>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-auto">
        <!-- Initié -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="initie"
            checked
            disabled
          />
          <label class="form-check-label" for="initie">Initié</label>
        </div>
      </div>
      <div class="col-auto">
        <span class="mx-2">→</span>
      </div>

      <div class="col-auto">
        <!-- Validé -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="valide" />
          <label class="form-check-label" for="valide">Approuvé</label>
        </div>
      </div>
      <div class="col-auto">
        <span class="mx-2">→</span>
      </div>

      <div class="col-auto">
        <!-- Accordé -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="accorde" />
          <label class="form-check-label" for="accorde">Accordé</label>
        </div>
      </div>
      <div class="col-auto">
        <span class="mx-2">→</span>
      </div>

      <div class="col-auto">
        <!-- Chèque établi -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="cheque" />
          <label class="form-check-label" for="cheque">Chèque Établi</label>
        </div>
      </div>
      <div class="col-auto">
        <span class="mx-2">→</span>
      </div>

      <div class="col-auto">
        <!-- Payé -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="paye" />
          <label class="form-check-label" for="paye">Payé</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="Close()">
    Fermer
  </button>
</div>
