<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <h3>Gestion des Agences</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <app-button-action (addClicked)="openModal()"></app-button-action>
    </div>
  </div>

  <div class="row m-3">
    <div class="card">
      <div class="card-header">Recherche agence</div>
      <div class="card-body">
        <form class="row g-3 align-items-center">
          <!-- Recherche générale -->
          <div class="col-md-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="generalSearch"
                placeholder="Entrez un terme de recherche"
              />
              <label for="generalSearch">Recherche générale</label>
            </div>
          </div>

          <!-- Date de début -->
          <div class="col-md-3">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="startDate"
                placeholder="Début"
              />
              <label for="startDate">Début</label>
            </div>
          </div>

          <!-- Date de fin -->
          <div class="col-md-3">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="endDate"
                placeholder="Fin"
              />
              <label for="endDate">Fin</label>
            </div>
          </div>

          <!-- Bouton de recherche -->
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-warning">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <app-list-agence></app-list-agence>
  </div>

  <div class="row justify-content-center mt-3">
    <app-pagination></app-pagination>
  </div>
</div>
