<div class="row m-3">
  <div class="card col-md-5 text-center">
    <div class="col">
      <div class="my-3">
        <img
          src="assets/images/avatars/user.jpg"
          class="rounded-circle"
          width="100px"
          height="100px"
          alt="user"
        />
      </div>
      <div>
        <h3>Monkey D Luffy</h3>
        <small class="form-text text-muted">One piece, East Blue, 12345</small>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary m-3">
          <i class="fa-solid fa-pencil-alt"></i>&nbsp; Modifier
        </button>
        <button type="button" class="btn btn-warning m-3" (click)="modifierMotDePasse()">
          <i class="fa-solid fa-lock"></i>&nbsp; Changer votre mot de passe
        </button>
      </div>
    </div>
  </div>

  <div class="card col-md-5 ms-3">
    <table class="table">
      <tbody>
        <tr>
          <th>Nom complet</th>
          <td>Monkey D Luffy</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>luffygmail.com</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>+XXX 71 88 20 20</td>
        </tr>
        <tr>
          <th>Adresse</th>
          <td>One piece, Wano, 12345, Japon</td>
        </tr>
        <tr>
          <th>Service</th>
          <td>Thousand Sunny</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
