/*** Footer Start ***/
.footer .footer-item .btn-link {
  line-height: 35px;
  color: rgba(255, 255, 255, .5);
  transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
  color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
  line-height: 35px;
}
/*** Footer End ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}
/*** Spinner End ***/
