/* Newsletter */
.newsletter {
  background-color: #FF6B3D;
  padding: 30px;
  border-radius: 15px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  color: white;
}

.newsletter form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 300px;
}

.cta-button {
    background-color: #FF6B3D;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.cta-button:hover{
  background-color: #FFF;
    color: #FF6B3D;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: white;
}
/*** Footer End ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}
/*** Spinner End ***/
