<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <h3>Gestion des Restaurants</h3>
    </div>

    <!-- Composant des boutons -->
    <div class="col-md-4 d-flex justify-content-end">
      <app-button-action
        (addClicked)="openModal()"
        (exportClicked)="exportToExcel()"
        (importClicked)="exportToPDF()"
      >
      </app-button-action>
    </div>
  </div>

  <!-- Composant de recherche -->
  <app-search
    searchPlaceholder="Restaurant..."
    [showDateFilters]="true"
    (search)="onSearch($event)"
    (filterByDate)="onDateFilter($event)"
  >
  </app-search>

  <div
    class="body"
    *ngIf="listRestaurants && listRestaurants.length > 0; else noRestaurants"
  >
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOM</th>
              <th scope="col">VILLE</th>
              <th scope="col">TELEPHONE</th>
              <th scope="col">MANAGER</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of listRestaurants; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.nom }}</td>
              <td>{{ item.ville }}</td>
              <td>{{ item.telephone }}</td>
              <td>{{ item.manager?.nom }} {{ item.manager?.prenom }}</td>
              <td>
                <button
                  class="btn btn-outline-warning me-2"
                  type="button"
                  (click)="onEdite(item)"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button
                  class="btn btn-outline-danger"
                  type="button"
                  (click)="onDelete(item.id)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination Component -->
        <app-pagination
          [collectionSize]="totalItems"
          [pageSize]="pageSize"
          [page]="page"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <ng-template #noRestaurants>
    <p>Aucun restaurant trouvé.</p>
  </ng-template>
</div>
