
<div class="login-container">
  <div class="logo-container">
    <img src="../../../../assets/logo.png" alt="Logo" class="logo" />
  </div>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="login-form-title"> Authentification </span>
    <br />

    <div class="input-container">
      <div>
        <label class="label" for="matricule">Matricule</label>
      </div>
      <input
        type="text"
        id="matricule"
        name="matricule"
        formControlName="matricule"
        placeholder="Entrez votre matricule"
        required
      />
    </div>
    <div *ngIf="loginForm.get('matricule')?.invalid && loginForm.get('matricule')?.touched" class="error-message">
      Le matricule est obligatoire.
    </div>

    <div class="input-container">
      <div class="pwd">
        <label class="label" for="email">Mot de passe</label>
        <a routerLink="/recover" class="forgot-password" (click)="onForgotPasswordClick()"> Oublié? </a>
      </div>

      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="Entrez votre mot de passe"
        required
      />
    </div>
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
      L'email est obligatoire et doit être valide.
    </div>
    <br />

    <button class="login-btn" type="submit">Connexion</button>
  </form>

</div>
