<div class="modal-dialog modal-lg">
  <div class="modal-content shadow-lg">
    <div class="modal-header bg-primary-custom">
      <h5 class="modal-title w-100 text-center text-white">Authentification</h5>
      <button type="button" class="btn-close text-white" aria-label="Close" (click)="Close()"></button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="p-4 bg-light">
      <div class="modal-body">
        <!-- Matricule -->
        <div class="mb-4">
          <label for="matricule" class="form-label text-muted-custom">Matricule</label>
          <input
            type="text"
            id="matricule"
            formControlName="matricule"
            class="custom-input"
            placeholder="Entrez votre matricule"
            required
          />
          <div *ngIf="loginForm.get('matricule')?.invalid && loginForm.get('matricule')?.touched" class="form-text text-danger">
            Veuillez saisir un matricule valide.
          </div>
        </div>

        <!-- Mot de passe -->
        <div class="mb-4">
          <label for="password" class="form-label text-muted-custom d-flex justify-content-between">
            <span>Mot de passe</span>
            <a routerLink="/recover" class="text-accent small" (click)="openRecoveryModal()">Mot de passe oublié?</a>
          </label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="custom-input"
            placeholder="Entrez votre mot de passe"
            required
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="form-text text-danger">
            Veuillez saisir un mot de passe valide.
          </div>
        </div>

        <!-- Checkbox "Se souvenir de moi" -->
        <div class="form-check mb-4">
          <input
            type="checkbox"
            id="rememberMe"
            formControlName="rememberMe"
            class="form-check-input"
          />
          <label for="rememberMe" class="form-check-label text-muted-custom">Se souvenir de moi</label>
        </div>
      </div>

      <div class="modal-footer border-0">
        <button type="submit" class="btn btn-accent w-100 py-2" [disabled]="loginForm.invalid">
          Connexion
        </button>
      </div>
    </form>
  </div>
</div>
