<div class="login-container">

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="login-form-title"> Authentification </span>
    <br />

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Message de succès -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <div class="input-container">
      <div>
        <label class="label" for="matricule">Matricule</label>
      </div>
      <input
        type="text"
        id="matricule"
        name="matricule"
        formControlName="matricule"
        placeholder="Entrez votre matricule"
        required
      />
    </div>

    <div class="input-container">
      <div class="pwd">
        <label class="label" for="motDePasse">Mot de passe</label>
        <a
          routerLink="/recover"
          class="forgot-password"
          (click)="onForgotPasswordClick()"
        >
          Oublié?
        </a>
      </div>

      <input
        type="password"
        id="motDePasse"
        name="motDePasse"
        formControlName="motDePasse"
        placeholder="Entrez votre mot de passe"
        required
      />
    </div>
    <br />

    <button class="login-btn" type="submit" [disabled]="loginForm.invalid" >Connexion</button>
  </form>
</div>
