<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <form [formGroup]="chequeForm" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">Création ou Modification d'un chèque</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingRefDemande"
                formControlName="refDemande"
                (change)="onDemandeChange($event)"
              >
                <option value="" disabled>Choisissez une reference</option>
                <option
                  *ngFor="let demande of listDemandes"
                  [value]="demande.reference"
                >
                  {{ demande.reference }} ( {{demande.ticketDto.montant}} FCFA)
                </option>
              </select>
              <label for="floatingRefDemande">Référence demande</label>
              <div
                *ngIf="
                  chequeForm.get('refDemande')?.invalid &&
                  chequeForm.get('refDemande')?.touched
                "
                class="text-danger"
              >
                Ce champ est obligatoire
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingNumero"
                placeholder="N° Chèque"
                formControlName="numero"
              />
              <label for="floatingNumero">Entrez le numero du chèque</label>
              <div
                *ngIf="
                  chequeForm.get('numero')?.invalid &&
                  chequeForm.get('numero')?.touched
                "
                class="text-danger"
              >
                Ce champ est obligatoire
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingMontant"
                placeholder="Montant"
                formControlName="montant"
                readonly
              />
              <label for="floatingMontant">Montant</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingBanque"
                formControlName="banque"
              >
                <option value="" disabled>Choisissez une banque</option>
                <option *ngFor="let bank of listBanks" [value]="bank.sigle">
                  {{ bank.name }} ({{ bank.sigle }})
                </option>
              </select>
              <label for="floatingBanque">Banque</label>
              <div
                *ngIf="
                  chequeForm.get('banque')?.invalid &&
                  chequeForm.get('banque')?.touched
                "
                class="text-danger"
              >
                Ce champ est obligatoire
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">
          Annuler
        </button>
        <button type="button" class="btn btn-outline-success" (click)="save()">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
