<!-- Hero Section Start -->
<div class="container-fluid hero-header py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-md-12 col-lg-7">
        <div class="content-left">
          <div class="info">
            <h2 class="h2-title">
              Welcome to our
              <span>Mutual</span>
              restaurant.
            </h2>
            <p>
              Hey, Our delicious food is waiting for you <br />
              We are always near to you with fresh item of food
            </p>
          </div>
          <button>Explore food</button>
        </div>
      </div>
      <div class="col-md-12 col-lg-5">
        <div class="content-right">
          <img
            class="img-fluid w-100 h-100"
            src="assets/images/img/food2.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->

<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-car-side fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Free Shipping</h5>
            <p class="mb-0">Free on order over $300</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-user-shield fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Security Payment</h5>
            <p class="mb-0">100% security payment</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-exchange-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>30 Day Return</h5>
            <p class="mb-0">30 day money guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fa fa-phone-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>24/7 Support</h5>
            <p class="mb-0">Support every time fast</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featurs Section End -->

<!-- Fact Start -->
<div class="container-fluid fact py-5">
  <div class="container py-5">
    <div class="bg-light p-5 rounded">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>satisfied customers</h4>
            <h1>1963</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>quality of service</h4>
            <h1>99%</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>quality certificates</h4>
            <h1>33</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Available Products</h4>
            <h1>789</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact Start -->

<!-- Banner Section Start-->
<div class="container-fluid banner py-5">
  <div class="container py-5">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="position-relative">
          <img
            src="assets/images/img/hero-img-2.jpg"
            class="img-fluid w-100 rounded"
            alt=""
          />
          <div
            class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute"
            style="width: 140px; height: 140px; top: 0; left: 0"
          >
            <h1 style="font-size: 70px">25</h1>
            <div class="d-flex flex-column">
              <span class="h2 mb-0">50$</span>
              <span class="h4 text-muted mb-0">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="py-4 p-l-4">
          <h1 class="display-3 text-white">Fresh Exotic Fruits</h1>
          <p class="fw-normal display-3 text-dark mb-4">in Our Store</p>
          <p class="mb-4 text-dark">
            The generated Lorem Ipsum is therefore always free from repetition
            injected humour, or non-characteristic words etc.
          </p>
          <a
            href="#"
            class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5"
            >BUY</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Resto resto Section Start-->
<div class="container-fluid resto py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="resto-title text-center mb-5">
          <h3 class="h3-title mb-3">What our resto</h3>
          <div class="resto-title-shape mb-4">
            <img src="assets/images/img/title-shape.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="resto-img">
          <img src="assets/images/img/testimonial-img.png" alt="" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-sm-6">
            <div class="resto-box">
              <div class="resto-box-top">
                <div
                  class="resto-box-img back-img"
                  style="
                    background-image: url(assets/images/img/testimonials/t1.jpg);
                  "
                ></div>
                <div class="star-rating-wp">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                </div>
              </div>
              <div class="resto-box-text">
                <h3 class="h3-title">Nilay Hirpara</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Itaque, quisquam.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="resto-box">
              <div class="resto-box-top">
                <div
                  class="resto-box-img back-img"
                  style="
                    background-image: url(assets/images/img/testimonials/t2.jpg);
                  "
                ></div>
                <div class="star-rating-wp">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="resto-box-text">
                <h3 class="h3-title">Ravi Kumawat</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Itaque, quisquam.
                </p>
              </div>
            </div>
          </div>
          <div class="resto-footer text-center">
            <h2 class="h2-title">What our managers <span>say resto us</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Resto resto Section End-->

<!-- Testimonial Section Start-->
<div class="container-fluid testimonial py-5">
  <div class="container py-5">
    <div class="testimonial-header text-center">
      <h1 class="text-warning">Nos restaurants</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="assets/images/img/resto-banner.jpg"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Resto Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="assets/images/img/resto-banner.jpg"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Resto Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="assets/images/img/resto-banner.jpg"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Resto Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End-->
