<div class="conatiner">
  <div class="col">
    <div class="row m-1">
      <div class="col-md-8 p-0">
        <h3>Gestion des clients</h3>
      </div>

      <!-- Composant des boutons -->
      <div class="col-md-4 d-flex justify-content-end">
        <app-button-action
          [isNouveauVisible]="false"
          (exportClicked)="exportToExcel()"
          (importClicked)="exportToPDF()"
        >
        </app-button-action>
      </div>
    </div>
  </div>

  <!-- Composant de recherche -->
  <app-search
    searchPlaceholder="Client..."
    [showDateFilters]="true"
    (search)="onSearch($event)"
    (filterByDate)="onDateFilter($event)"
  >
  </app-search>

  <div class="body" *ngIf="listEmployes && listEmployes.length > 0; else noEmployes">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">MATRICULE</th>
                <th scope="col">PIECE</th>
                <th scope="col">N°PIECE</th>
                <th scope="col">NOM & PRENOM</th>
                <th scope="col">TELEPHONE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>

            <tbody>
              @for (item of listEmployes; track $index) {
              <tr>
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ item.matricule }}</td>
                <td>{{ item.piece }}</td>
                <td>{{ item.numPiece }}</td>
                <td>{{ item.nom }} {{ item.prenom }}</td>
                <td>{{ item.telephone }}</td>
                <td>
                  <button
                    class="btn btn-outline-info me-2"
                    type="button"
                    (click)="onDetail(item)"
                  >
                    <i class="fa-solid fa-circle-info"></i>
                  </button>
                  <button
                    class="btn btn-outline-warning me-2"
                    type="button"
                    (click)="onEdite(item)"
                  >
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="onDelete(item.id)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Pagination Component -->
        <app-pagination
          [collectionSize]="totalItems"
          [pageSize]="pageSize"
          [page]="page"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <ng-template #noEmployes>
    <p>Aucun employé disponible.</p>
  </ng-template>
</div>
