<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <h3>Gestion des Tickets</h3>
    </div>

    <!-- Composant des boutons -->
    <div class="col-md-4 d-flex justify-content-end">
      <app-button-action
        [isNouveauVisible]="false"
        (exportClicked)="exportToExcel()"
        (importClicked)="exportToPDF()"
      >
      </app-button-action>
    </div>
  </div>

  <!-- Composant de recherche -->
  <app-search
    searchPlaceholder="Tickets..."
    [showDateFilters]="true"
    (search)="onSearch($event)"
    (filterByDate)="onDateFilter($event)"
  >
  </app-search>

  <div
    class="body"
    *ngIf="listTickets && listTickets.length > 0; else noTickets"
  >
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">DATE</th>
              <th scope="col">TRANSACTION</th>
              <th scope="col">NUMERO</th>
              <th scope="col">CLIENT</th>
              <th scope="col">STATUS</th>
              <th scope="col">CAISSE</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of displayedTickets; let i = index">
              <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
              <td>{{ item.transactionDto?.creationDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.transactionDto?.reference }}</td>
              <td>{{ item.numero }}</td>
              <td>
                {{ item.client?.nom }}
                {{ item.client?.prenom }}
              </td>
              <td>{{ item.status }}</td>
              <td>{{ getUserName(item.transactionDto?.userId ?? 0) }}</td>
              <td>
                <button
                  class="btn btn-outline-warning me-2"
                  type="button"
                  (click)="onDetail(item)"
                >
                  <i class="fa-solid fa-circle-info"></i>
                </button>
                <button
                  class="btn btn-outline-secondary me-2"
                  type="button"
                  (click)="generateQrCodeFromBackend(item.clientId!, qrCodeModal)"
                >
                  <i class="fa-solid fa-qrcode"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination Component -->
        <app-pagination
          [collectionSize]="totalItems"
          [pageSize]="pageSize"
          [page]="page"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <ng-template #noTickets>
    <p>Aucun ticket trouvé.</p>
  </ng-template>
</div>

<!-- Modale avec le QR Code -->
<ng-template #qrCodeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">QR Code du Ticket</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body d-flex justify-content-center align-items-center">
    <!-- Utilisation de ViewChild pour accéder au canvas -->
    <canvas #qrcodeCanvas id="qrcode" class="qr-code-canvas"></canvas>
    <!-- Le QR Code sera affiché ici -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="downloadQRCode()"
    >
      Télécharger
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      Fermer
    </button>
  </div>
</ng-template>


