
<div class="col">
  <div class="row m-1">
    <div class="col-md-8 p-0">
      <h3>Gestion des tickets</h3>
    </div>

    <div class="col-md-4 d-grid gap-2 d-md-flex justify-content-md-end">
      <app-button-action [isNouveauVisible]="false"></app-button-action>
    </div>
  </div>
</div>


<div class="row m-3">
  <div class="card">
    <div class="card-header">
      Recherche de ticket
    </div>
    <div class="card-body">
      <form class="row g-3 align-items-center">
        <!-- Recherche générale -->
        <div class="col-md-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="generalSearch" placeholder="Entrez un terme de recherche">
            <label for="generalSearch">Recherche générale</label>
          </div>
        </div>

        <!-- Date de début -->
        <div class="col-md-3">
          <div class="form-floating">
            <input type="date" class="form-control" id="startDate" placeholder="Début">
            <label for="startDate">Début</label>
          </div>
        </div>

        <!-- Date de fin -->
        <div class="col-md-3">
          <div class="form-floating">
            <input type="date" class="form-control" id="endDate" placeholder="Fin">
            <label for="endDate">Fin</label>
          </div>
        </div>

        <!-- Bouton de recherche -->
        <div class="col-md-3">
          <button type="button" class="btn btn-outline-warning">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row m-3">
  <app-list-ticket></app-list-ticket>
</div>

<div class="row text-center mb-3">
  <app-pagination></app-pagination>
</div>
