.body {
  text-align: center;
  font-size: 0.8rem; /* Réduction de la taille de police */
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

table {
  width: 100%;
  white-space: nowrap; /* Empêche le contenu de se plier à la ligne */
  font-size: 0.8rem; /* Appliqué aussi ici par précaution */
}

th,
td {
  white-space: nowrap; /* Garde tout sur une ligne */
  text-align: center; /* Centrage du contenu */
  vertical-align: middle; /* Alignement vertical */
}


.qr-code-canvas {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  border: 1px solid #dee2e6;
  padding: 10px;
  background: white;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
