<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Création ou Modification d'un utilisateur</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="Close()"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" novalidate>
        <div class="row">
          <!-- Matricule -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingMatricule"
                placeholder="Matricule"
                formControlName="matricule"
              />
              <label for="floatingMatricule">Matricule</label>
            </div>
          </div>

          <!-- Type de Pièce -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <select
                class="form-select form-select-lg"
                class="form-select form-select-sm"
                id="floatingTypePiece"
                formControlName="piece"
                (change)="onPieceTypeChange($event)"
              >
                <option value="" disabled>Sélectionnez la pièce</option>
                <option *ngFor="let piece of pieces" [value]="piece.value">
                  {{ piece.label }}
                </option>
              </select>
              <label for="floatingTypePiece">Pièce</label>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Numéro CNIB (Affiché si CNIB est sélectionné) -->
          <div class="col-md-6 mb-3" *ngIf="selectedPieceType === 'CNIB'">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingNumPiece"
                placeholder="Numéro CNIB"
                formControlName="numPiece"
              />
              <label for="floatingNumPiece">Numéro CNIB</label>
            </div>
          </div>

          <!-- NIP CNIB (Affiché si CNIB est sélectionné) -->
          <div class="col-md-6 mb-3" *ngIf="selectedPieceType === 'CNIB'">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingNip"
                placeholder="NIP CNIB"
                formControlName="nip"
              />
              <label for="floatingNip">NIP CNIB</label>
            </div>
          </div>

          <!-- Numéro Passeport (Affiché si Passport est sélectionné) -->
          <div class="col-md-6 mb-3" *ngIf="selectedPieceType === 'PASSPORT'">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingNumPiece"
                placeholder="Numéro Passeport"
                formControlName="numPiece"
              />
              <label for="floatingNumPiece">Numéro Passeport</label>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Nom -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingNom"
                placeholder="Nom"
                formControlName="nom"
              />
              <label for="floatingNom">Nom</label>
            </div>
          </div>

          <!-- Prénom -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingPrenom"
                placeholder="Prénom"
                formControlName="prenom"
              />
              <label for="floatingPrenom">Prénom</label>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Genre -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <select
                class="form-select form-select-lg"
                id="floatingCivilite"
                formControlName="civilite"
              >
                <option value="" disabled>Sélectionnez la civilité</option>
                <option
                  *ngFor="let civilite of civilites"
                  [value]="civilite.value"
                >
                  {{ civilite.label }}
                </option>
              </select>
              <label for="floatingCivilite">Civilité</label>
            </div>
          </div>

          <!-- Email -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input
                type="email"
                class="form-control form-control-lg"
                id="floatingEmail"
                placeholder="Email"
                formControlName="email"
              />
              <label for="floatingEmail">Email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Téléphone -->
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control form-control-lg"
                id="floatingTelephone"
                placeholder="Téléphone"
                formControlName="telephone"
              />
              <label for="floatingTelephone">Téléphone</label>
            </div>
          </div>

          <!-- Rôle -->
          <div class="col-md-6 mb-3">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingRole"
                formControlName="role"
              >
                <option value="">Sélectionnez un rôle</option>
                <option
                  *ngFor="let role of roles"
                  [value]="role.value"
                  [selected]="role.value === userForm.value"
                >
                  {{ role.value }}
                </option>
              </select>
              <label for="floatingRole">Role</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingDirection"
                formControlName="direction"
              >
                <option value="" disabled>Choisissez une direction</option>
                <option
                  *ngFor="let direction of listDirections"
                  [ngValue]="direction"
                >
                  {{ direction.sigle }} ({{ direction.nom }})
                </option>
              </select>
              <label for="floatingDirection">Direction</label>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingAgence"
                formControlName="agence"
              >
                <option value="" disabled>Choisissez une agence</option>
                <option *ngFor="let agence of listAgences" [ngValue]="agence">
                  {{ agence.sigle }} ({{ agence.nom }})
                </option>
              </select>
              <label for="floatingAgence">Agence</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        data-bs-dismiss="modal"
        (click)="Close()"
      >
        Fermer
      </button>
      <button type="button" class="btn btn-outline-success" (click)="Save()">
        Enregistrer
      </button>
    </div>
  </div>
</div>
