
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <form [formGroup]="registreForm" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">Création ou Modification d'un registre</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="Close()"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingNom"
                placeholder="Nom"
                formControlName="nom"
              />
              <label for="floatingNom">Nom</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingPrenom"
                placeholder="Prénom"
                formControlName="prenom"
              />
              <label for="floatingPrenom">Prénom</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingTelephone"
                placeholder="Téléphone"
                formControlName="telephone"
              />
              <label for="floatingTelephone">Téléphone</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingNumeroPiece"
                placeholder="N° Pièce"
                formControlName="numeroPiece"
              />
              <label for="floatingNumeroPiece">N° Pièce</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <select
                class="form-control"
                id="floatingNumeroTicket"
                formControlName="numeroTicket"
                (change)="onTicketChange($event)"
              >
                <option value="" disabled>Choisissez un numéro de ticket</option>
                <option *ngFor="let ticket of listTickets" [value]="ticket.numero">
                  {{ ticket.numero }}
                </option>
              </select>
              <label for="floatingNumeroTicket">Numéro de Ticket</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingMontant"
                placeholder="Montant"
                formControlName="montant"
                readonly
              />
              <label for="floatingMontant">Montant</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="date"
                class="form-control"
                id="floatingDateJeu"
                placeholder="Date de Jeu"
                formControlName="date"
              />
              <label for="floatingDateJeu">Date de Jeu</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingCodeClub"
                placeholder="Code du Club"
                formControlName="codeClub"
                value="C208-DRC-A76"
                readonly
              />
              <label for="floatingCodeClub">Code du Club</label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="Close()">Annuler</button>
        <button type="button" class="btn btn-outline-success" (click)="Save()">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
