<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <form [formGroup]="roleForm" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">Création ou Modification de rôle</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="Close()"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating w-100">
              <select class="form-select" id="floatingName" formControlName="name">
                <option value="">Sélectionnez un rôle</option>
                <option *ngFor="let role of roles" [value]="role.value" [selected]="role.value === roleForm.value">
                  {{ role.value }}
                </option>
              </select>
              <label for="floatingName">Rôle</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating w-100">
              <input
                type="text"
                class="form-control"
                id="floatingLabel"
                placeholder="Libellé"
                formControlName="label"
              />
              <label for="floatingLabel">Libellé</label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="Close()">Annuler</button>
        <button type="button" class="btn btn-outline-success" (click)="Save()">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
