
<div class="modal-header">
  <h5 class="modal-title">Détails de l'employé {{employe.matricule}}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="Close()"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row mb-2">
      <div class="col-4"><strong>Matricule</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.matricule }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Type de pièce</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.typePiece }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>N° de pièce</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.cnibNumber || employe.passportNumber }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Nom</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.nom }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Prénom</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.prenom }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Sexe</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.genre }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Email</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.email }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Téléphone</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.telephone }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Role</strong></div>
      <div class="col-1">:</div>
      <div class="col-7">{{ employe.role }}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="Close()">Fermer</button>
</div>
