<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form [formGroup]="bankForm" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">Création ou Modification d'une banque</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="Close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingCode"
            placeholder="Code Banque"
            formControlName="code"
          />
          <label for="floatingCode">Entrez le code de la banque</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingNom"
            placeholder="Nom Banque"
            formControlName="name"
          />
          <label for="floatingNom">Entrez le nom de la banque</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingSigle"
            placeholder="Sigle Banque"
            formControlName="sigle"
          />
          <label for="floatingSigle">Entrez le sigle de la banque</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="Close()">
          Annuler
        </button>
        <button type="button" class="btn btn-outline-success" (click)="Save()">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
